body {
    font-family: 'Dosis', sans-serif;
}

.navbar {
    margin-top: 1em;
}

.navbar-btn {
    border-radius: 0em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.section {
    padding: 7px 10px;
    background-color: #f9f9f9;
}

.section-name {
    font-size: 1.3em;
}

.section-ribbon {
    padding: 1px;
    margin-bottom: 10px;
}

.red-ribbon {
    border-bottom: 1px solid #E74C3C;
}

.green-ribbon {
    border-bottom: 1px solid #2ECC71;
}

.blue-ribbon {
    border-bottom: 1px solid #3498DB;
}

.yellow-ribbon {
    border-bottom: 1px solid #F1C40F;
}

.gray-ribbon {
    border-bottom: 1px solid #95A5A6;
}

.purple-ribbon {
    border-bottom: 1px solid #8E44AD;
}

.turquoise-ribbon {
    border-bottom: 1px solid #1ABC9C;
}

.plain-list{
    list-style: none;
    padding-left: 0em;
}

.adv-list{
    list-style: circle;
    padding-left: 20px;
}

.make-vspace {
    margin-top: 1em;
}

.row {
    margin-top: 1em;
}

.pubs li {
    padding-bottom: 5px;
}

.pubs .title {
    font-weight: bold;
}

.pubs .authors, .author {
    padding-left: 5px;
    color: #7F8C8D;
}

.conf {
    font-style: italic;
}

.clearfix {
    clear: both;
}

#main-section {
    background: #f9f9f9 url("pp-mug-1.png") no-repeat 1rem 4rem;
}

.bold-title {
    font-weight: bold;
}

.by {
    padding-left: 5px;
}

.one-box {
    padding: 5px;
}

#about-me {
    padding-right: 1em;
}

.footer {
    margin: 1em 3em;
}

.footer-line {
    color: #95A5A6;
    padding-left: 2em;
}
