<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/tufte.css"/>
    <link rel="stylesheet/less" href="{{ site.baseurl }}/assets/index.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  </head>

  <body>

    <article>
      {{ content }}
    </article>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <!-- {% include svg-icons.html %} -->
          <span>Disclaimer: The opinions expressed here are my own and do not necessarily represent those of current or past employers.</span>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
